<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TrueRandom">
    <meta property="og:description"
          content="TrueRandom is a powerfull revolutionary random number generator which gives you military grade randomization wherever you need it.">
    <meta property="og:url" content="https://tr.host.qrl.nz/">
    <meta property="og:image" content="https://tr.host.qrl.nz/img/logo.png">
    <meta name="author" content="Questionable Research Labs">
    <meta name="description" content="TrueRandom is a powerfull revolutionary random number generator which gives you military grade randomization wherever you need it.">
    <title>TrueRandom - {{title}}</title>
</head>
<body>
{{{body}}}
</body>
</html>
