@import "fontawesome.css";
@import "normalize.css";
* {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
}

.heading {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.heading__video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background: black;
}
.heading__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.heading__content__logo {
  width: 320px;
  height: 320px;
}
.heading__content__text {
  text-align: center;
  color: #FFFFFF;
  line-height: 1.5;
  max-width: 500px;
  font-size: 1.3rem;
}
.heading__content__text__quote {
  display: block;
  margin: 0 auto;
}

.features {
  padding: 15vh 5vw;
  background: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.features .feature {
  text-align: center;
  max-width: 400px;
  background: #0c0c0c;
  padding: 2rem;
  transition: transform 0.25s ease, background 0.2s ease, border 0.5s ease;
  border-bottom: 5px solid #0c60ce;
}
.features .feature:hover {
  background: #0F0F0F;
  transform: perspective(300px) rotateX(5deg);
  border-bottom: 5px solid white;
}
.features .feature__icon {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.features .feature__name {
  color: white;
  margin-bottom: 0.8rem;
}
.features .feature__text {
  color: #c7c7c7;
  line-height: 1.7;
}

.api {
  display: flex;
  justify-content: center;
  padding: 5vh 5vw 15vh;
  gap: 5rem;
  flex-wrap: wrap;
}
.api__message {
  max-width: 600px;
}
.api__message__title {
  color: white;
  margin-bottom: 0.8rem;
}
.api__message__body {
  line-height: 2;
}
.api__request {
  width: 100%;
  max-width: 500px;
}
.api__request__head {
  display: flex;
  padding: 0.5rem;
  background: #0F0F0F;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.api__request__head__method {
  font-size: 1.25rem;
  font-weight: 700;
  background: #0c60ce;
  padding: 0.5em;
}
.api__request__head__url {
  font-size: 1.2rem;
}
.api__request__head__url__stub {
  color: #666;
}
.api__request__response {
  background: #0F0F0F;
  transition: transform 0.25s ease, background 0.2s ease, border 0.5s ease;
  border-bottom: 5px solid #0c60ce;
}
.api__request__response:hover {
  background: #0F0F0F;
  transform: perspective(300px) rotateX(5deg);
  border-bottom: 5px solid white;
}
.api__request__response__head {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.api__request__response__head__title {
  color: #555;
  flex: auto;
  font-weight: 700;
}
.api__request__response__head__code {
  background: #5da850;
  padding: 0.5rem;
  font-weight: 700;
}
.api__request__response__body {
  padding: 0 1em 1.5rem;
  margin-top: -1rem;
  line-height: 2rem;
}

.code {
  color: gray;
  padding: 1em;
}
.code__brace {
  color: gray;
}
.code__string {
  color: #7aa15b;
}
.code__number {
  color: #bfac6e;
}

.plans {
  padding: 5vh 5vw 15vh;
  background: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.plans .plan {
  text-align: center;
  max-width: 400px;
  background: #0c0c0c;
  padding: 2rem;
  transition: transform 0.25s ease, background 0.2s ease, border 0.5s ease;
  border-bottom: 5px solid #0c60ce;
}
.plans .plan:hover {
  background: #0F0F0F;
  border-bottom: 5px solid white;
  animation: flip 1s ease;
  transform: translateY(-15px);
}
.plans .plan__buy {
  display: block;
  background: #333;
  width: 100%;
  padding: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.plans .plan__icon {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.plans .plan__name {
  color: white;
  margin-bottom: 0.8rem;
}
.plans .plan__price__sign {
  font-size: 1.25rem;
}
.plans .plan__price__amount {
  color: #0c60ce;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.plans .plan__price__unit {
  color: #555;
  margin-left: -0.25rem;
  font-size: 0.8rem;
}
.plans .plan__text {
  color: #c7c7c7;
  line-height: 1.7;
  margin: 1em 0;
}
.plans .plan__features {
  list-style: none;
  text-align: left;
}
.plans .plan__features__item {
  margin: 1rem 0;
}
.plans .plan__features__item .fa-check, .plans .plan__features__item .fa-times {
  margin-right: 1rem;
}

.redacted {
  background: white;
  color: white !important;
}

.footer {
  padding: 5vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.footer__logo {
  margin: 1em 0;
}
.footer__text {
  color: #555;
}

/*# sourceMappingURL=style.css.map */
